#projectIdInput {
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-left: 20px;
    border: 1px solid #457b9d; /* Set border color */
    border-radius: 5px;
    height: 30px; /* Adjust height as needed */
    color: #457b9d; /* Set text color */
    vertical-align: middle; /* Align input field vertically */
}

#projectIdInput::placeholder {
    color: #457b9d; /* Set placeholder text color */
}

#loadProjectButton {
    background-color: var(--color-reset-button-bg);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px; /* Adjust padding as needed */
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    height: 30px; /* Match the height of the input field */
    line-height: 20px; /* Center the text vertically */
    vertical-align: middle; /* Align button vertically */
}

#loadProjectButton:hover {
    background-color: var(--color-reset-button-bg-hover);
}
