/* Color Definitions */
:root {
    --color-bg-phase: #D6E5EB;
    --color-bg-phase-active: #F4A261;
    --color-bg-connector: #D6E5EB;
    --color-bg-connector-active: #F4A261;
    --color-bg-side-connector-left: #D6E5EB;
    --color-bg-side-connector-left-active: #F4A261; /* Replace with desired color */
    --color-bg-side-connector-right: #D6E5EB;
    --color-bg-side-connector-right-active: #F4A261; /* Replace with desired color */
    --color-text-description: #457B9D; /* Updated to a blue similar color */
    --color-text-description-active: #fff; /* White color for active text */
    --color-reset-button-bg: #264653;
    --color-reset-button-bg-hover: #1f3440;
    --color-checklist-circle: #457B9D; /* Blue border for checklist circle */
    --color-checklist-circle-checked: #999; /* Gray border for checked checklist circle */
}

/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* Ensure it takes full viewport height */
    margin: 0;
    background-color: #fff;
    user-select: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make header span the full width */
    padding: 40px 0; /* Space around the header */
    position: relative;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.maintitle {
    color: #264653;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1000;
}

.flowchart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    padding: 20px;
    position: relative;
}

.title-left {
    color: #E76F51;
    margin: 0 10px;
    width: 160px; /* Adjust as needed */
    text-align: center;
}

.title-right {
    color: #E76F51;
    margin: 0 20px;
    width: 200px; /* Adjust as needed */
    text-align: center;
}

.flowchart {
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    align-items: center;
    flex-grow: 1;
    max-width: 1000px; /* Maximum width of the flowchart */
    padding: 20px;
    position: relative;
    background-color: #aac7d3;
    border-radius: 15px;
    user-select: none; /* Prevent text selection */
}

.phase {
    position: relative;
    background-color: var(--color-bg-phase);
    border-radius: 15px;
    padding: 10px;
    margin: 0;
    width: 180px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.phase.active {
    background-color: var(--color-bg-phase-active);
}

.phase.active .description h3 {
    color: var(--color-text-description-active); /* White text color when active */
}

.phase:hover {
    transform: scale(1.1);
}

.icon {
    background-color: #264653;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    font-size: 18px;
}

.connector {
    width: 50px;
    height: 7px;
    background-color: var(--color-bg-connector); /* Default color for connectors */
    transition: background-color 0.3s;
}

.connector.active {
    background-color: var(--color-bg-connector-active);
}

.side-connector {
    height: 7px;
    transition: background-color 0.3s;
}

.side-connector-left {
    width: 80px;
    background-color: var(--color-bg-side-connector-left);
}

.side-connector-right {
    width: 80px;
    background-color: var(--color-bg-side-connector-right);
}

.side-connector-left.active {
    background-color: var(--color-bg-side-connector-left-active);
}

.side-connector-right.active {
    background-color: var(--color-bg-side-connector-right-active);
}

.description {
    color: var(--color-text-description);
}

/* Add these styles for the reset button */
#resetButton {
    background-color: var(--color-reset-button-bg);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s;
}

#resetButton:hover {
    background-color: var(--color-reset-button-bg-hover);
}

/* Popup styling */
.popup {
    opacity: 0; /* Start as invisible */
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: absolute;
    top: 100%; /* Position below the flowchart */
    left: 50%;
    transform: translate(-50%, 0) scale(0.8);
    display: none;
    max-width: 450px; /* Maximum width */
    min-width: 350px; /* Minimum width to prevent it from being too narrow */
    width: auto; /* Allow width to adjust based on content */
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #9DC3D2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 10px;
    z-index: 1000; /* Above other elements */
    user-select: none; /* Prevent text selection */
    display: flex;
    flex-direction: column; /* Adjusts child elements vertically */
    align-items: flex-start; /* Align items to the start of the flex container */
}

.popup.visible {
    display: flex;
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
}

.popup-phase-number {
    font-size: 3rem; /* Large font size for the phase number */
    color: #457B9D; /* Blue color */
    margin: 5px 20px 10px 0px; /* Space between the phase number and the content */
    text-align: center; /* Center align text inside */
    width: 80px; /* Fixed width for the phase number container */
    flex-shrink: 0; /* Prevent shrinking of the phase number container */
}

.popup-content {
    display: flex;
    flex-direction: column; /* Stack title and list vertically */
    justify-content: center; /* Center vertically */
    flex-grow: 1; /* Allow content to grow and take up remaining space */
}

.popup h3 {
    color: #264653; /* Consistent title color */
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.popup ul {
    list-style-type: none;
    padding: 0;
}

.popup ul li {
    font-size: 1rem;
    color: var(--color-text-description);
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
    display: flex; /* Align circle and text horizontally */
    align-items: center;
    line-height: 1.5; /* Align text vertically in the middle */
}

.popup ul li::before {
    content: '';
    width: 12px; /* Circle size */
    height: 12px; /* Circle size */
    border-radius: 50%; /* Make it round */
    border: 2px solid var(--color-checklist-circle); /* Blue border for checklist circle */
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; /* Center the circle with text */
    flex-shrink: 0; /* Prevent shrinking */
}

.popup ul li.checked::before {
    border-color: var(--color-checklist-circle-checked); /* Gray border for checked items */
}

.popup ul li.checked {
    text-decoration: line-through;
    color: #999; /* Greyed out text for checked items */
}
