/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center horizontally */
    min-height: 100vh; /* Ensure it takes full viewport height */
    margin: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Make header span the full width */
    padding: 40px 0; /* Space around the header */
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-weight: 400;
}

h3{
    font-size: 1rem;
    font-weight: 300;
}
    

.maintitle {
    color: #264653;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1000;
    
}


.flowchart {
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    max-width: 1200px; /* Maximum width of the flowchart */
    padding: 20px;
}

.phase {
    position: relative;
    background-color: #D6E5EB;
    border-radius: 15px;
    padding: 10px;
    margin: 0 0;
    width: 180px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.phase:hover {
    transform: scale(1.1);
    background-color: #b2ebf2;
}

.icon {
    background-color: #264653;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    font-size: 18px;
}

.connector {
    width: 50px;
    height: 5px;
    background-color: #D6E5EB;
}

.description {
    color: #E76F51;
}

